Realization/backend/idm-bsc/src/test/resources/fileTemplate/bcv_fileTemplate-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="urn:jbpm.org:bcv_fileTemplate-1.0"
           targetNamespace="urn:jbpm.org:bcv_fileTemplate-1.0" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
           

	<xs:element name="fileTemplate">
  		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="contentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="text" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
    	</xs:complexType>
	</xs:element>
</xs:schema>
